<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name ="connstring" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\dsolo\Desktop\Ready solutions C#\proj 2\WinFormsApp1\DataBase_0.mdf';Integrated Security=True"/>
  </connectionStrings>
</configuration>
